@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.bottom {
  height: 50px;
}

.footer-main {
  width: 80%;
  margin: 0 auto;
  background-color: #e8663c;
  display: grid;
  grid-template-columns: 0.05fr 3fr 2fr 0.05fr ;
  gap: 2.8rem;
  color: #fff;
  padding: 20px;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
}

.footer-main h2 {
  padding: 15px;
  font-size: 3rem;
}

.footer-main section {
  text-align: left;
}

.footer-main p {
  font-size: 1.2rem;
}

.footer-container {
  margin-top: 50px;
  background: #f2b19c;
  width: 100%;
}

.show-projects {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}

.nav-bar {
  width: 60%;
  margin: 0 auto;
}

.show-slides {
  width: 60%;
  margin: 0 auto;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff; 
}

.narrow-color {
  background: #f2b19c;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: -3;
}

.contact-icon {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  grid-auto-flow: column;
}

.clear {
  height: 20px;
}

.nav-title {
  font-family: Bebas Neue;
  color:'#e8603c';
  font-size:'2rem'
}

.nav-right-side {
  font-family: Bebas Neue;
}

.skills {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}


